<?xml version="1.0"?>
<launch>
  <node name ="display_had" pkg="display_had" type="display_had_node" output="screen"/>

  <!-- launch velodyne -->
  <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>

  <node name ="ntd_point_cloud_registration" pkg="ntd_point_cloud_registration" type="ntd_point_cloud_registration_node" output="screen"/>
  <node name ="rviz" pkg="rviz" type="rviz" args="-f /velodyne" output="screen"/>
</launch>
