*.iml
*.zip
*.pyc
*.tar.gz
*.deb
*.tar.bz2
*.rar
*.so
*.o
*.bmp
*.jpg
*.jpeg
*.png
*.7z
*.*project
*.settings.xml

3rd/
log/
roadmap/
devel/
.idea/
.settings/

a.out
/SmartCollect/.catkin_workspace
/SmartCollect/build/
/SmartCollect/src/CMakeLists.txt
/FromGithub_*/
/SmartCollect/src_sc0010_20190417/
*.gitmodules
a.exe
